.secaoPessoal {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


#tituloPessoal {
    position: relative;
    background-color: rgb(115, 214, 253);
    width: 100%;
    padding: 25px;
    margin: auto;
    text-align: center;
    margin-bottom: 5vh;
    border-bottom: 2px solid #000;
    box-shadow: 1px 1px 10px rgb(25, 78, 139);
    margin-top: -2px;
    z-index: 1;
    border-top: 2px solid rgb(0, 110, 255);
}

.fundo {
    font-size: 2.5vh;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    margin: -0vh -10vh;
    padding: 5vh;
    background-color: rgb(235, 250, 250);
    margin-bottom: 2vw;
}

.espacoCampos {
    margin-top: 2vw;
}

#titulo1 {
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

#titulo2 {
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#caixaTexto {
    height: 200px;

}

#botoes {
    margin-top: 4vw;
}

#salvar {
    background-color: rgb(115, 214, 253);
    color: black;
    border: none;
    font-weight: bold;
}

#limpar {
    font-weight: bold;
}