.cabecalho {
    position: relative;
    background-color: rgb(115, 214, 253);
    padding: 30px;
    box-shadow: 1px 1px 10px rgb(25, 78, 139);
    text-align: center;
    margin-bottom: 5vh;
    border-bottom: 2px solid #000;
    margin-top: -2px;
    z-index: 1;
    border-top: 2px solid rgb(0, 110, 255);
}

#titulo {
    margin-top: 1vw;
    padding: 20px;
    background-color: rgb(115, 214, 253);
    margin-left: 15vw;
    width: 68vw;
    box-shadow: 1px 1px 10px rgb(0, 0, 0)
}

#aviso {
    background-color: rgb(235, 250, 250);
    color: rgb(25, 78, 139);
    padding: 10px;
    border: 2px rgb(68, 155, 255);;
    border-radius: 10px;
    margin-bottom: -1vw;
    box-shadow: 1px 1px 10px rgb(0, 0, 0)
}
#aviso h4 {
    margin-top: 0.5vw;
}

#formulario1, #formulario2, #formulario3, #formulario4, #formulario5, #formulario6 {
    margin-top: 2vw;
    padding: 20px;
    background-color: rgb(235, 250, 250);
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    margin-bottom: 2vw
}

#botoesEst {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#salvar {
    background-color: rgb(115, 214, 253);
    color: black;
    border: none;
    font-weight: bold;
}