.secaoGrafico {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.secaoGrafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#tituloGrafico {
    position: relative;
    padding: 25px;
    width: 99.2vw;
    height: 100px;
    background: rgb(115, 214, 253);
    border-bottom: 2px solid #000;
    box-shadow: 1px 1px 10px rgb(25, 78, 139);
    font-size: 20px;
    margin-top: -2px;
    z-index: 1;
    border-top: 2px solid rgb(0, 110, 255)
}

#tituloFlex {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

#iconeTitulo {
    font-size: 40px;
}

.chart canvas { 
    width: 600px; 
    max-height: 600px;
}

.container1, .container2, .container3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 50px;
    margin: auto;
    margin-top: 10vw;
    gap: 200px;
    box-shadow: 2px 2px 5px black;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}

.container1, .container2, .container3 {
    width: 81vw;
}

.container3 {
    margin-bottom: 5vw;
}

.chart h3 {
    padding: 30px;
    margin-left: -1.5vw;
}

.chart p {
    padding: 30px;
    margin-top: -60px;
    margin-left: -1.5vw;
    font-size: 0.9em;
    font-weight: bold;
}

.chart span {
    font-size: 40px;
}

@media (max-width: 1366px) {
    .container1, .container2, .container3 {
        flex-direction: column;
        width: 1000px;
        padding: 30px;
    }
}

@media screen and (max-width: 920px) {
    .secaoGrafico {
        flex-direction: column;
        overflow-x: hidden;        
    }

    .container1, .container2, .container3 {
        flex-direction: column;
        width: 400px;
        padding: 30px;
    }
    .chart canvas { 
        margin-top: 2vw;
        width: 350px; 
        height: 350px; 
        max-height: 350px;
    }
}