#tituloPostal {
    position: relative;
    padding: 30px;
    background-color: rgb(115, 214, 253);
    box-shadow: 1px 1px 20px rgb(25, 78, 139);
    text-align: center;
    border-bottom: 2px solid #000;
    margin-bottom: 3vw;
    margin-top: -2px;
    z-index: 1;
    border-top: 2px solid rgb(0, 110, 255);
}

#tituloEnd2 {
    margin-top: 5vw;
}

.fundo {
    background-color: rgb(235, 250, 250);
}

.fundo p {
    margin-bottom: 5vw;
    font-size: 35px;
}
