* {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
   outline: 1px solid red;
}


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: radial-gradient(rgb(211, 211, 211), rgb(210, 238, 255));
    width: 100%;
}

.nav-item .nav-link.active {
    position: relative;
    color: rgb(0, 0, 0);
    background-color: rgb(115, 214, 253);
    border-radius: none;
    z-index: 2;
    border: 2px solid rgb(0, 110, 255);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: -2px;
    padding: 10px;
    height: 52px;
    width: 250px;
    text-align: center;
    transition: 1s ease;
}


.nav-item.primeira_pills {
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nav-item.ultima_pills {
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nav-item:hover {
    color: black;
    background: linear-gradient(to top, rgb(123, 218, 255), rgb(210, 238, 255));
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: background 1s ease;
}

.nav-item {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
} 

.nav-item .nav-link.active:hover {
    border: none;
}

.nav-item a {
    font-size: 19px;
    margin-top: 5px;
    color: black;
}

.nav-item a:hover {
    color: black;
}

.containerMenu ul {
    justify-content: center;
}


/* Cor do menu na abertura */

#navPills.estiloAbertura {
    background: black;
}

#navPills.estiloAbertura .nav-item {
    position: relative;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
}

#navPills.estiloAbertura .nav-item:hover {
    background: white;
    color: black;
}

#navPills.estiloAbertura .nav-item a {
    color: white;
}

#navPills.estiloAbertura .nav-item a:hover {
    color: rgb(0, 0, 0);
}

#navPills {
    position: relative;
}

#navPills.estiloAbertura  .nav-item .nav-link.active {
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: none;
    border: 2px solid rgb(255, 255, 255);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
    height: 52px;
    width: 250px;
    text-align: center;
    transition: 1s ease;
}

/* Localização */

.tituloLoc {
    position: relative;
    background-color: rgb(115, 214, 253);
    width: 100%;
    padding: 25px;
    margin: auto;
    text-align: center;
    margin-bottom: 5vh;
    border-bottom: 2px solid #000;
    box-shadow: 1px 1px 10px rgb(25, 78, 139);
    margin-top: -2px;
    z-index: 1;
    border-top: 2px solid rgb(0, 110, 255);
}

.tituloLoc h1 {
    border-width: fit-content;
    font-size: 40px;
    font-weight: 700;
}

iframe {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 4px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 10px rgb(25, 78, 139);
    border-radius: 40px;
    width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 2.5vw;
    margin-bottom: 5vw;
}

/* Rodapé */

footer {
    background-color: rgb(115, 214, 253);
    padding: 20px;
    text-align: left;
    font-weight: 100;
    font-size: 15px;
    position: relative;
    box-shadow: -2px -2px 10px rgb(25, 78, 139);
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 0;
    width: 100%;
}

.aberturaFooter {
    background-color: black;
    color: white;
    box-shadow: -2px -2px 10px rgb(255, 255, 255);
    margin-top: 0;
}

@media (max-width: 1600px) {

    html, body {
        width: 100%;
    }

    .containerMenu ul {
        justify-content: center;
        font-size: 17px;
        
    }

    .nav-item .nav-link.active {
        padding: 10px 0;
        height: 60px;
        width: 100px;
    } 
    #navPills.estiloAbertura  .nav-item .nav-link.active{
        padding: 10px 0;
        height: 60px;
        width: 120px;
    }

    .nav-item {
        padding: 2px;
        height: 60px;
        width: 120px;
        text-align: center;
    }
    .nav-item a {
        font-size: 12px;
        font-weight: bold;
        margin-top: 1px;
    }

    .nav-item a:hover {
        font-size: 12px;
        font-weight: bold;
        margin-top: 1px;
    }

    iframe {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 920px) {

    .containerMenu ul {
        justify-content: center;
        font-size: 17px;
    }

    .nav-item .nav-link.active {
        padding: 10px 0;
        height: 60px;
        width: 70px;
    } 
    #navPills.estiloAbertura  .nav-item .nav-link.active{
        padding: 10px 0;
        height: 60px;
        width: 70px;
    }

    .nav-item {
        padding: 2px;
        height: 60px;
        width: 70px;
        text-align: center;
    }
    .nav-item a {
        font-size: 8px;
        font-weight: bold;
        margin-top: 1px;
    }

    .nav-item a:hover {
        font-size: 8px;
        font-weight: bold;
        margin-top: 1px;
    }

    iframe {
        width: 500px;
        height: 500px;
    }
}